<thead>
  <tr>
    <th class="frame_fixed_m__icTnd frame_skill__tLJuM" rowspan="2">Move Name</th>
    <th class="frame_frame__ev9CB" colspan="3">Frames
      <ul>
        <li class="frame_startup_frame__Dc2Ph">Start-up</li>
        <li class="frame_active_frame__6Sovc">
          <input type="checkbox" id="active_frame">
          <label for="active_frame">Active</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">The value listed here is what frame the attack hitbox will come out when the attack is performed.<br><br>Ex.<br>If the value is 10-12, then the attack hitbox will be active from frames 10-12.</div>
          </div>
        </li>
        <li class="frame_recovery_frame__CznJj">Recovery</li>
      </ul>
    </th>
    <th class="frame_recovery__omnsf" colspan="2">Frame Advantage
      <ul>
        <li class="frame_hit_frame__K7xOz">Hit</li>
        <li class="frame_block_frame__SfHiW">Block</li>
      </ul>
    </th>
    <th class="frame_cancel__hT_hr" rowspan="2">
      <input type="checkbox" id="cancel">
      <label for="cancel">Cancel</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">C<br>Can be canceled by a special move, Drive Impact, Drive Rush or Super Art<br><br>SA<br>Can only be canceled by a Super Art<br><br>SA2<br>Can only be canceled by a level 2 or 3 Super Art<br><br>SA3<br>Can only be canceled by a level 3 Super Art or Critical Art<br><br>*<br>Can only be canceled by specific attacks</div>
      </div>
    </th>
    <th class="frame_damage__HWaQm" rowspan="2"><p>Damage</p></th>
    <th class="frame_combo_correct__hCDUB" rowspan="2">
      <input type="checkbox" id="combo_correct">
      <label for="combo_correct">Combo Scaling</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">In addition to the regular combo scaling, any unique scaling that an attack has is displayed here.</div>
      </div>
    </th>
    <th class="frame_drive_gauge_gain___tEvm">Drive Gauge Increase
      <ul>
        <li class="frame_drive_gauge_gain_hit___Jg7j">
          <input type="checkbox" id="drive_gauge_gain_hit">
          <label for="drive_gauge_gain_hit">Hit</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">Amount of Drive Gauge recovered by the attacker when the attack hits.</div>
          </div>
        </li>
      </ul>
    </th>
    <th class="frame_drive_gauge_lose__nSHd3" colspan="2">Drive Gauge Decrease
      <ul>
        <li class="frame_drive_gauge_lose_dguard__4uQOc">
          <input type="checkbox" id="drive_gauge_lose_dguard">
          <label for="drive_gauge_lose_dguard">Block</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">Amount of Drive Gauge lost by the defender when blocking.</div>
          </div>
        </li>
        <li class="frame_drive_gauge_lose_punish__mFrmM">
          <input type="checkbox" id="drive_gauge_lose_punish">
          <label for="drive_gauge_lose_punish">Punish Counter</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">Amount of Drive Gauge lost by the defender on a Punish Counter.</div>
          </div>
        </li>
      </ul>
    </th>
    <th class="frame_sa_gauge_gain__oGcqw" rowspan="2">SA Gauge Increase</th>
    <th class="frame_attribute__1vABD" rowspan="2">
      <input type="checkbox" id="attribute">
      <label for="attribute">Properties</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">Displays the attack hitbox properties.</div>
      </div>
    </th>
    <th class="frame_note__hfwBr" rowspan="2">Miscellaneous</th>
  </tr>
</thead>
