<thead>
  <tr>
    <th class="frame_fixed_m__icTnd frame_skill__tLJuM" rowspan="2">技名</th>
    <th class="frame_frame__ev9CB" colspan="3">動作フレーム
      <ul>
        <li class="frame_startup_frame__Dc2Ph">発生</li>
        <li class="frame_active_frame__6Sovc">
          <input type="checkbox" id="active_frame">
          <label for="active_frame">持続</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">技の動作中に攻撃判定が発生しているフレームを表します<br><br>（例） 【10-12】表記の場合、【10F/11F/12F】の【3F】間、攻撃判定が持続</div>
          </div>
        </li>
        <li class="frame_recovery_frame__CznJj">硬直</li>
      </ul>
    </th>
    <th class="frame_recovery__omnsf" colspan="2">硬直差
      <ul>
        <li class="frame_hit_frame__K7xOz">ヒット</li>
        <li class="frame_block_frame__SfHiW">ガード</li>
      </ul>
    </th>
    <th class="frame_cancel__hT_hr" rowspan="2">
      <input type="checkbox" id="cancel">
      <label for="cancel">キャンセル</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">【C】<br>必殺技、ドライブインパクト、ドライブラッシュ、SAでキャンセル可能<br><br>【SA】<br>SA技でのみキャンセル可能<br><br>【SA2】<br>SA2、SA3でキャンセル可能<br><br>【SA3】<br>SA3でのみキャンセル可能<br><br>【※】<br>特定の技でのみキャンセル可能</div>
      </div>
    </th>
    <th class="frame_damage__HWaQm" rowspan="2"><p>ダメージ</p></th>
    <th class="frame_combo_correct__hCDUB" rowspan="2">
      <input type="checkbox" id="combo_correct">
      <label for="combo_correct">コンボ補正値</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">通常のコンボ補正に加えて、技自体に特殊な補正が設定されている場合に記載されます。<br><br>【始動補正】<br>コンボの初段にヒットさせた際に加算される補正<br><br>【コンボ補正】<br>コンボの2段目以降にヒットさせた際に加算される補正<br><br>【即時補正】<br>コンボの2段目以降にヒットさせた際、その技自体に加算される補正<br><br>【乗算補正】<br>コンボに組み込んだ際に、それ以降のコンボ補正値に乗算される補正値</div>
      </div>
    </th>
    <th class="frame_drive_gauge_gain___tEvm">Dゲージ増加
      <ul>
        <li class="frame_drive_gauge_gain_hit___Jg7j">
          <input type="checkbox" id="drive_gauge_gain_hit">
          <label for="drive_gauge_gain_hit">ヒット</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">攻撃側のドライブゲージ増加量（ヒット時）</div>
          </div>
        </li>
      </ul>
    </th>
    <th class="frame_drive_gauge_lose__nSHd3" colspan="2">Dゲージ減少
      <ul>
        <li class="frame_drive_gauge_lose_dguard__4uQOc">
          <input type="checkbox" id="drive_gauge_lose_dguard">
          <label for="drive_gauge_lose_dguard">ガード</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">防御側のドライブゲージ減少量（ガード時）</div>
          </div>
        </li>
        <li class="frame_drive_gauge_lose_punish__mFrmM">
          <input type="checkbox" id="drive_gauge_lose_punish">
          <label for="drive_gauge_lose_punish">パニッシュカウンター</label>
          <div class="frame_ex___h3rR">
            <div class="frame_inner__Qf7xV">防御側のドライブゲージ減少量（パニッシュカウンター時）</div>
          </div>
        </li>
      </ul>
    </th>
    <th class="frame_sa_gauge_gain__oGcqw" rowspan="2">SAゲージ増加</th>
    <th class="frame_attribute__1vABD" rowspan="2">
      <input type="checkbox" id="attribute">
      <label for="attribute">属性</label>
      <div class="frame_ex___h3rR">
        <div class="frame_inner__Qf7xV">攻撃判定の属性を表します<br><br>【上】<br>立ち/しゃがみガード可能な上段攻撃<br><br>【中】<br>立ちガードのみ可能な中段攻撃<br><br>【下】<br>しゃがみガードのみ可能な下段攻撃<br><br>【投】<br>ガードできない投げ技<br><br>【弾】<br>飛び道具<br><br>【空弾】<br>空中判定の飛び道具</div>
      </div>
    </th>
    <th class="frame_note__hfwBr" rowspan="2">備考</th>
  </tr>
</thead>
